dist: bionic
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0
gemfile:
  - gemfiles/activesupport_4.2.gemfile
  - gemfiles/activesupport_5.1.gemfile
  - gemfiles/activesupport_5.2.gemfile
  - gemfiles/activesupport_6.gemfile
jobs:
  fast_finish: true
  exclude:
    - rvm: 2.4.9
      gemfile: gemfiles/activesupport_5.2.gemfile
    - rvm: 2.4.9
      gemfile: gemfiles/activesupport_6.gemfile
    - rvm: 2.5.7
      gemfile: gemfiles/activesupport_4.2.gemfile
    - rvm: 2.6.5
      gemfile: gemfiles/activesupport_4.2.gemfile
    - rvm: 2.6.5
      gemfile: gemfiles/activesupport_5.1.gemfile
    - rvm: 2.7.0
      gemfile: gemfiles/activesupport_4.2.gemfile
    - rvm: 2.7.0
      gemfile: gemfiles/activesupport_5.1.gemfile
  include:
    - staging: gem release
      rvm: 2.5.7
      deploy:
        provider: rubygems
        gem: tp_client
        api_key:
          secure: vyxUUOg1A7K1iqfjXa/P9URnbh+ntKvgfAYDAxr4My9isOsnlYXtRdDl2RgLttmmtOv5unPDrTv8Mkh5B1WMA6ihKaBUXCaU4cgyh6vLds2fSy1yxUSR/TmfnoXmRVAtBHYiuKuHol5koIW+gSDNHYenzO2mvrOks06Jtkmp0X2OJgVCS1PqWjTrDvlpfRKf2bUnE2/5/XvwnUqKCLRls1CSpV+phW6m9qsAkqMv0TMa8Em3pOUjY8mCAgFArr3cl5MtyX3Nhh95CzcGHeMUfLu8Lz0NcHscG8xNq58NnFFU6m8nQJYyxZOjFtUrJumyvy5qwZZtprwc8XxE6BmY1IJWfKCnDJbEl/qxaX0psfVG2Eiu6e/Y/Lad1NUV9hYZCXkEVEsksZa7n3sd2XOzbJmqPgM0z53Ly3koj1uMZrJ5BJ4AfZIE4gbFm5+UmSez/K9xnCWUc5NXR9+v1kyJYLsjHevn0DMxb+7xvSR5zxyS9du+GUIbIGRIKBERYGS08u+/zaPTLmGSyMpK+x5ichJoSLaJsECGGUbY2kL9aO18w41oZbvQf+Cp/656oRZM8U4DV2HtRCp6Dqc3Y8MJG1Pzft6+mHYPepon21fi08B6GOAFMF/Rcuz/SpnP9dvSCJyEcgNahDDNvRQmOwT00M8tSDeQeuR3uTXfMScBkAA=
        on:
          tags: true
          branch: master
          repo: TINYhr/tiny_client
